<hr>

<app-bootstrap-example></app-bootstrap-example>
<hr>
<hello name="{{ name }}"></hello>


<app-first-component></app-first-component>
<!-- <add-user></add-user> -->

  <input type="text" #box [disabled]="boxdisabled" >
<br/><br/>
<button (click)="enableDisable()">enable/disable</button>
<button (click)="showVal(box.value)">show value</button>
<br/><br/>

<input type="text"  [disabled]="boxdisabled" *ngIf="boxtype=='text' else  numberblock">
<ng-template #numberblock>
  <input type="number"  [disabled]="boxdisabled">
</ng-template>
<br/>
<button (click)="changeType()">{{boxtypetext}}</button>
<hr/>
<app-for-loop></app-for-loop>
<hr/>
<app-style-binding></app-style-binding>
<hr/>
<app-form></app-form>
<hr/>